/*
 Theme Name:   Nuvola
 Theme URI:    http://mynuvolamattress.com/nuvola/
 Description:  Nuvola Theme
 Author:       Gentian Shkembi
 Author URI:   http://mynuvolamattress.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  nuvola
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

body {
	font-family: 'Montserrat', sans-serif;
}

* {
	outline: none !important;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.center {
	margin: 0 auto;
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
}

input, select {
	outline: none;
}
.home #content .col-full {
	margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}
.site-header {
    padding: 0 !important;
}
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
	color: #ffffff;
	transition: all .2s;
}
.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, a.cart-contents:hover, .site-header-cart .widget_shopping_cart a:hover, .site-header-cart:hover > li > a, .site-header ul.menu li.current-menu-item > a {
	color: #00334e;
    font-weight: 600;
}
.site-header-cart .widget_shopping_cart, .main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children {
	background: #fff;
	transition: all .2s;
	background: #fff;
    -webkit-box-shadow: inset 1px 5px 9px -6px #a3a3a3;
	box-shadow: inset 1px 5px 9px -6px #a3a3a3;
	border: 1px solid #e6e6e6;
    border-bottom: none;
}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
	padding: 0 1em;
}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a:last-child {
	padding-right: 0;
}
.site-header-cart .widget_shopping_cart .buttons, .site-header-cart .widget_shopping_cart .total {
	color: #000;
}
.button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {
	background: rgb(25, 128, 184);
	color: #fff;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {
	background: rgb(18, 33, 71);
	color: #fff;
}
.site-header-cart .cart-contents {
	padding: 0.618em 0;
}
/* .add_to_cart_button {
    display: none;
}
#site-header-cart {
    display: none;
}
.col-full {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
} */
.woocommerce-active .site-header .site-header-cart {
	width: 60%;
}
.page-template-template-homepage .type-page {
	padding-top: 0;
    padding-bottom: 0;
}
.hentry {
    margin: 0 0 0;
}
.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
	padding-top: 0;
}
.site-main {
	margin-bottom: 0;
}
.page-template-template-homepage .type-page .storefront-hero__button-edit {
	display: none;
}

.woocommerce-active .site-header .site-branding img {
	max-width: 100px;
	width: 100%;
}
.woocommerce-active .site-header .site-branding {
	display: none;
}
.site-branding img {
	max-width: 100px;
	width: 100%;
}
.site-search {
	display: block;
	position: relative;
	z-index: 1000;
	background: red;
}
/* my styles */

#colophon {
	display: none;
}
/* header */
.header-container .col-full {
	margin: 0;
	padding: 0;
	max-width: 100%;
}
.site-header-cart {
	display: none;
}
.woocommerce-active .site-header .site-search {
	width: 100%;
	float: none;
	margin-bottom: 0;
}
.woocommerce-active .site-header .main-navigation {
    width: 100%;
    float: none;
    margin-right: 0;
    clear: none;
}
.main-navigation .menu {
	display: flex;
}
.qtranxs-lang-menu {
	margin-left: auto;
}
.main-navigation ul.menu ul li a, .main-navigation ul.nav-menu ul li a {
	font-weight: 600;
	border-bottom: 1px solid #e6e6e6;
	color: rgb(25, 128, 184);
}
.header-container {
	width: 100%;
	display: flex;
    padding: 10px 15px;
	align-items: center;
	background: rgb(25, 128, 184);
	position: relative;
	box-shadow: 0px 1px 10px 1px #4a4a4a;
}
.storefront-primary-navigation {
	margin-left: 30px;
	font-weight: 500;
	width: 100%;
}
.logo img {
	max-width: 60px;
}
.site-search {
	display: none;
}
/* header end */

/* sky gradient */
.sky {
	position: relative;
	text-align: center;
	padding: 40px 15px;
	background: #44bbdf;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right bottom, #44bbdf , #0F2044);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right bottom, #44bbdf , #0F2044); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	/* height: 70vh; */
	/* display: flex; */
}
.sky img {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}
/* .day {
	background: #21a7d2;
	background: -webkit-linear-gradient(to bottom, #2F80ED, #21a7d2);
	background: linear-gradient(to bottom, #2F80ED, #21a7d2);	
}
.night {
	background: #000428;
	background: -webkit-linear-gradient(to bottom, #004e92, #000428);
	background: linear-gradient(to bottom, #004e92, #000428);
} */

.mattress-banner {
	max-width: 75%;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: rotate(-1deg);
	-webkit-animation-name: mattress;
    animation-name: mattress;
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	align-self: flex-end;
}

@-webkit-keyframes mattress {
    from {transform: rotate(-1deg) ascale(0.4);}
    to {transform: rotate(-1deg) scale(1);}
}

@keyframes mattress {
    from {transform: rotate(-1deg) scale(0.4);}
    to {transform: rotate(-1deg) scale(1);}
}

.float {
	position: relative;
	bottom: 20px;
	-webkit-animation: float 3s infinite;
    animation: float 3s infinite;
	animation-delay: 6s;
}

@-webkit-keyframes float {
    0% {bottom: 20px;}
    50% {bottom: 30px;}
    100% {bottom: 20px;}
}

@keyframes float {
    0% {bottom: 20px;}
    50% {bottom: 30px;}
    100% {bottom: 20px;}
}

/* cloud animations */
.cloud {
	position: absolute;
	top: 5px;
	max-width: 100px;
}
ol, ul {
	margin: 0;
}
.content-area, .widget-area {
	margin-bottom: 0;
}
.cloud-1 {
	left: 100%;
	max-width: 220px;
	-webkit-animation-name: cloud-1;
	z-index: 2;
	top: 84%;
    -webkit-animation-duration: 6s;
    animation-name: cloud-1;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-1 {
    from {left: 100%;}
    to {left: 85%;}
}

@keyframes cloud-1 {
    from {left: 100%;}
    to {left: 85%;}
}

.cloud-2 {
	right: 100%;
	max-width: 210px;
	top: 86%;
	z-index: 12;
    -webkit-animation-name: cloud-2;
    -webkit-animation-duration: 6s;
    animation-name: cloud-2;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

/* cloud animations end */

/* night animations */
/* @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:none;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.night .stars, .night .twinkling {
	display: block;
} */

/* night animations end */

@-webkit-keyframes cloud-2 {
    from {right: 100%;}
    to {right: 85%;}
}

@keyframes cloud-2 {
    from {right: 100%;}
    to {right: 85%;}
}

.cloud-3 {
    top: 80%;
	max-width: 220px;
	right: 100%;
	z-index: 11;
	-webkit-animation-name: cloud-3;
    -webkit-animation-duration: 6s;
    animation-name: cloud-3;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-3 {
    from {right: 100%;}
    to {right: 80%;}
}

@keyframes cloud-3 {
    from {right: 100%;}
    to {right: 80%;}
}

.cloud-4 {
	left: 100%;
    max-width: 220px;
    top: 74%;
	transform: rotateX(-180deg);
	z-index: 3;
	-webkit-animation-name: cloud-4;
    -webkit-animation-duration: 6s;
    animation-name: cloud-4;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-4 {
    from {left: 100%;}
    to {left: 90%;}
}

@keyframes cloud-4 {
    from {left: 100%;}
    to {left: 90%;}
}
.cloud-5 {
	right: 100%;
    max-width: 300px;
    top: 78%;
	transform: rotateX(-180deg);
	z-index: 2;
	-webkit-animation-name: cloud-5;
    -webkit-animation-duration: 6s;
    animation-name: cloud-5;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-5 {
    from {right: 100%;}
    to {right: 90%;}
}

@keyframes cloud-5 {
    from {right: 100%;}
    to {right: 90%;}
}
.cloud-6 {
	left: 100%;
    max-width: 230px;
    top: 76%;
	z-index: 12;
	-webkit-animation-name: cloud-6;
    -webkit-animation-duration: 6s;
    animation-name: cloud-6;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes cloud-6 {
    from {left: 100%;}
    to {left: 78%;}
}

@keyframes cloud-6 {
    from {left: 100%;}
    to {left: 78%;}
} 

.mattress {
	display: flex;
	flex-direction: column;
	margin-left: 0;
}
.mattress li:nth-child(odd) {
	justify-content: flex-start;
}
.mattress li:nth-child(odd) .text{
	background-image: linear-gradient(to right, #fff, transparent);
}
.mattress li:nth-child(even) {
	justify-content: flex-end;
	margin: 10px 0;
}
.mattress li:nth-child(even) .text {
	background-image: linear-gradient(to left, #fff, transparent);
	margin-left: auto;
}
.mattress-type {
	display: flex;
	height: 37vh;
	overflow: hidden;
}
.text {
	height: 100%;
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: center;
}
.text div {
	text-align: center;
	padding: 15px;
	transform: scale(1);
	transition: all .2s;
	color: #000000;
	margin-left: 50px;
}
.mattress-type a {
	width: 100%;
	transition: all .5s;
	cursor: pointer;	
}
.mattress-type a:hover {
	transform: scale(1.1);
}
.text h3 {
	font-size: 56px;
	font-weight: 600;
	color: #000000;
	line-height: 1.2;
}
.text p {
	font-size: 17px;
	font-weight: 500;
	line-height: 1.4;
}
.mattress li:nth-child(even) .text div {
	margin-right: 50px;
}
/* .mattress li:nth-child(even) .text a {
	margin-right: 30px;
}
.mattress li:nth-child(even) .text a{
	margin-left: 30px;
} */
#footer{
	width: 100%;
	height: auto;
	background: rgb(25, 128, 184);
    color: #fff;
	padding: 30px 0;
	font-size: 15px;
}
#footer h3 {
    color: #fff;
	font-size: 20px;
	border-bottom: 1px solid;
	font-weight: 500;
}
#footer h3:last-child {
	border-bottom: none;
}
#footer i {
	margin-right: 10px;
	font-size: 20px;
	vertical-align: text-bottom;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.center{
	padding: 15px;
	max-width: 1200px;
	margin: 0 auto;
}
.footer-content div:first-child {
	width: 30%;
}
#footer input[type="text"] {
	border-radius: 5px 0 0 5px;
}
#footer input[type="submit"] {
	background: rgb(18, 33, 71);
	margin-left: -10px;
	border-radius: 0 5px 5px 0;
}
#footer li {
	list-style-type: none;
	margin-bottom: 10px;
}
#footer a {
	color: #f2f2f2;
	margin-left: 5px;
}

.site-search .widget_product_search form input[type=search], .site-search .widget_product_search form input[type=text] {
	background: #fff;
    border: none;
    border-bottom: 1px solid rgb(25, 128, 184);
	box-shadow: none;
	padding-bottom: 5px;
}

.page-template-custom #content .col-full {
	padding: 0;
	margin: 0;
	max-width: 100%;
}

.page-template-custom .storefront-breadcrumb {
	display: none;
}
.page-template-somnus #content .col-full {
	padding: 0;
	margin: 0;
	max-width: 100%;
}

.page-template-somnus .storefront-breadcrumb {
	display: none;
}
.page-template-sky #content .col-full {
	padding: 0;
	margin: 0;
	max-width: 100%;
}

.page-template-sky .storefront-breadcrumb {
	display: none;
}
.banner {
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
}

.center {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.qtranxs-lang-menu a {
	display: flex !important;
	align-items: center;
}

.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-description {
	width: 70%;
	margin: 0 auto 1.41575em;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0;
}

.gallery {
	background-color: #F8F8F8;
	padding: 15px 0;
}

.mySwiper img {
	max-width: 80px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.flex {
	display: flex;
}
.flex > *:first-child {
	margin-right: 15px;
}
.page-spot {
	text-align: center;
	margin: 30px 0 40px 0;
	color: #2f2f2f;
}
.page-spot h2 {
	line-height: 1.5;
	font-weight: 500;
	width: 75%;
	margin: 0 auto;
}
.header-style {
	text-align: center;
}
.seeMore-header {
	display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
	color: #2f2f2f;
	font-weight: 500;
	cursor: pointer;
	border-bottom: 1px solid #f2f2f2;
}
.active {
	border-bottom: none;
}
.seeMore-header span {
	font-size: 35px;
	height: 25px;
	line-height: 25px;
	font-weight: 400;
	transition: all .35s;
}
.vertical-margin {
	margin: 30px 0;
}
.spec {
	display: none;
}
.product-details th {
	color: #2f2f2f;
}
.product-details article {
	margin: 15px 0;
}
.copyright {
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
/* .video {
    width: 100%;
	height: 100%;
	position: absolute;
    object-fit: unset;
} */
#page {
	display: none;
}
/* loader */
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}
.mobile-menu-btn {
	display: none;
	color: #fff;
	font-size: 22px;
}
.pp_description {
	display: none !important;
}
/* loader end */
@media (max-width: 768px) {
	.mobile-menu-btn {
		display: block;
	}
	.text {
		width: 100%;
		justify-content: center;
	}
	.text div {
		margin-left: 0;
	}
	.sky img {
		width: 100%;
	}
	.cloud {
		display: none;
	}
	.mattress li:nth-child(even) .text div {
		margin-right: 0;
	}
	#footer {
		text-align: center;
	}
	#footer .flex {
		flex-flow: column;
	}
	#footer .flex > *:first-child {
		margin-right: 0;
	}
	.footer-content div:first-child {
		width: 100%;
	}
	.footer-content div:not(:last-child) {
		margin-bottom: 20px;
	}
	#footer h3 {
		border-bottom: none;
		margin-bottom: 5px;
	}
	.page-spot h2 {
		line-height: 1.3;
		width: 100%;
	}
	.site-search {
		display: none;
	}
	.header-container .col-full {
		order: initial;
	}
	.logo img {
		max-width: 50px;
	}
	.handheld-navigation {
		position: absolute;
		left: 0;
		background: #fff;
		width: 100%;
		top: 62px;
		padding: 15px;
		border-bottom: 3px solid rgb(25, 128, 184);
		display: none;
		min-height: max-content;
	}
	.menu-toggle {
		display: none;
	}
	.handheld-navigation ul.menu .sub-menu {
		visibility: visible;
		opacity: 1;
		max-height: initial;
		display: none;
	}
	.site-header-cart .widget_shopping_cart, .main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children {
		background: none;
		transition: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
	.main-navigation ul ul {
		margin-left: 0;
	}
	.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
		padding: 0;
		color: rgb(25, 128, 184);
	}
	.handheld-navigation ul.menu li {
		margin: 15px 0;
	}
	.handheld-navigation ul.menu>li:first-child {
		margin-top: 0;
	}
	.main-navigation ul li a {
		padding: 0;
	}
	.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
		padding: 0;
	}
	.banner {
		height: 30vh;
	}
	.main-navigation .menu {
		display: block;
	}
	.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, a.cart-contents:hover, .site-header-cart .widget_shopping_cart a:hover, .site-header-cart:hover > li > a, .site-header ul.menu li.current-menu-item > a {
		color: rgb(25, 128, 184);
	}
	.main-navigation ul.menu ul li a, .main-navigation ul.nav-menu ul li a {
		font-weight: 500;
	}
	.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
		color: rgb(25, 128, 184);
	}
}
/* my styles end  */